[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sendgrid = "*"
flask = "*"
gunicorn = "*"
sentry-sdk = {extras = ["flask"], version = "*"}

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
